header {
    width: 1920px;
    height: 60px;
    background-color: #E1F1F2;
    box-shadow: 10px 0px 10px 0px #00000033;
}

body {
    overflow-y: hidden;
}

#bodyer {
    width: 1920px;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
}

#box {
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: #1AA4B4;
    right: 20px;
    top: 20px;
    border-radius: 20px;
}

#box #remove {
    width: 30px;
    height: 30px;
    position: relative;
    left: 370px;
    border-radius: 0px 20px 0px 0px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 30px;
    cursor: pointer;
}

#box #txt {
    width: 400px;
    height: 70px;
    font-size: 24px;
    color: #FFFFFF;
    text-indent: 24px;
    line-height: 40px;
}

#bodyer #bg {
    width: calc(100% - 644px);
    height: 100%;
    background-image: url("../img/注册背景图.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#bodyer #register-panel {
    width: 644px;
    height: 100%;
}


#bodyer #register-panel #title {
    width: inherit;
    height: 256px;
    color: #CCECF0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 128px;
    text-align: center;
    line-height: 256px;
}

#bodyer #register-panel #welcome {
    width: inherit;
    height: 32px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 450;
    text-align: center;
    line-height: 32px;
}

#bodyer #register-panel #register {
    width: inherit;
    height: calc(100% - 288px);
    padding-top: 64px;
    display: flex;
    justify-content: center;
}

#bodyer #register-panel #register #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #1AA4B4;
    width: 70%;
    height: 70%;
    padding: 30px 0px 20px 0px;
}

#bodyer #register-panel #register #form label {
    display: flex;
    height: 50px;
    width: 360px;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
}

#bodyer #register-panel #register #form label span {
    width: 20%;
    font-size: 18px;
    line-height: 46px;
}

#bodyer #register-panel #register #form label input,
#bodyer #register-panel #register #form label select {
    width: 100%;
    height: 46px;
    font-size: 18px;
    border-radius: 23px;
    text-indent: 23px;
    border: 2px solid #50D9EB;
}

#bodyer #register-panel #register #form label div {
    font-size: 18px;
    height: 18px;
    width: auto;
}



#bodyer #register-panel #register #form label #btn {
    background-color: #50D9EB;
    font-size: 18px;
    margin-left: 10px;
    width: 75%;
    height: 46px;
    line-height: 46px;
    border-radius: 23px;
    text-align: center;
    color: #FFFFFF;
}

#bodyer #register-panel #register #form label #back {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}