* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 3951px;
    background-color: rgb(243, 245, 249);
    overflow-x: hidden;
}

header {
    width: 1898px;
    height: 963px;
    background: linear-gradient(-57deg, #17115e, #261b7b);
}

#section {
    width: 1898px;
    height: 2547px;
    background-color: #f3f5f9;
}

footer {
    width: 1898px;
    height: 711px;
    background: linear-gradient(to left, #17115e, #2b1ca2);
    align-items: center;
    flex-direction: column;
    display: flex;
}

#box1 {
    position: absolute;
    width: 710px;
    height: 757px;
    border-radius: 60px;
    transform: rotate(-35deg);
    background-color: rgba(34, 22, 108, 1);
    left: -120px;
    top: -110px;
}

#box2 {
    position: absolute;
    width: 710px;
    height: 757px;
    border-radius: 60px;
    transform: rotate(-20deg);
    background-color: rgba(34, 23, 112, 0.5);
    left: -120px;
    top: -120px;
}

#box3 {
    position: absolute;
    width: 1898px;
    height: 1196px;
    background: linear-gradient(180deg, #e2e7f5, #f0f2f8);
    border-radius: 1000px/100px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    top: 2089px;
}

#box4 {
    position: absolute;
    width: 730px;
    height: 820px;
    background-color: rgb(239, 242, 248);
    transform: rotate(-39deg);
    left: -400px;
    top: 2650px;
    border-radius: 0px 0px 100px 0px;
}

header>nav {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

header>div {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

header>nav>#icon {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-size: 2em;
    width: 118px;
    justify-content: space-between;
    position: relative;
    left: 382px;
    top: 28px;
}

header>nav>#navigation {
    display: flex;
    color: #FFFFFF;
    font-size: 15px;
    justify-content: space-between;
    width: 390px;
    position: relative;
    left: 475px;
    top: 51px;
}

header>nav>#session {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 275px;
    position: relative;
    left: 772px;
    top: 51px;
    font-size: 15px;
}

header>div>img {
    width: 674px;
    position: relative;
    top: 100px;
    left: 460px;
}

header>div>div>#title {
    color: #FFFFFF;
    font-size: 48px;
    line-height: 60px;
    width: 562px;
    position: relative;
    top: 320px;
    left: 384px;
}

header>div>div>#describe {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 15px;
    height: 63px;
    position: relative;
    left: 383px;
    top: 343px;
}

header>div>div>#btn {
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
    width: 210px;
    height: 50px;
    position: relative;
    background: linear-gradient(90deg, #0790e4, #1042c1);
    left: 383px;
    top: 405px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 10px 24px 0px #140b4e;
}

#section>#content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000000;
}

#section #content #text1 {
    position: relative;
    font-size: 35px;
    width: 296px;
    top: 148px;
}

#section #content #text2 {
    text-align: center;
    position: relative;
    font-size: 19px;
    width: 849px;
    top: 177px;
    line-height: 29.33px;
}

#section #content #box5 {
    position: relative;
    top: 264px;
    width: 1300px;
    height: 380px;
    background-color: #f3f5f9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section #content #text3 {
    position: relative;
    font-size: 35px;
    width: 394px;
    top: 412px;
}

#section #content #text4 {
    text-align: center;
    position: relative;
    font-size: 19px;
    width: 849px;
    top: 441px;
    line-height: 29.33px;
}

#section #content #box6 {
    width: 1067px;
    height: 140px;
    position: relative;
    top: 540px;
    display: flex;
    justify-content: space-between;
}

#section #content #box7 {
    width: 1898px;
    position: relative;
    top: 720px;
    display: flex;
}

#section #content #box8 {
    width: 1170px;
    height: 176px;
    background-color: #FFFFFF;
    position: relative;
    top: 748px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#section #content #box5>div {
    width: 365px;
    height: 380px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section #content #box6>hr {
    position: absolute;
    width: 117px;
    top: 50px;
}

#section #content #box6>hr:nth-of-type(1) {
    left: 142px;
}

#section #content #box6>hr:nth-of-type(2) {
    left: 363px;
}

#section #content #box6>hr:nth-of-type(3) {
    left: 584px;
}

#section #content #box6>hr:nth-of-type(4) {
    left: 805px;
}

#section #content #box6>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 183px;
}

#section #content #box7>div:first-child {
    position: relative;
    left: 380px;
    top: 50px;
}

#section #content #box7>div:nth-child(2) {
    position: relative;
    left: 561px;
}

#section #content #box8>p {
    position: relative;
    left: 51px;
    font-size: 35px;
    color: #2050cb;
    font-weight: bold;
}

#section #content #box8>div {
    position: relative;
    right: 51px;
    width: 220px;
    height: 50px;
    display: flex;
    background: linear-gradient(45deg, #0790e4, #1042c1);
    justify-content: center;
    box-shadow: 0px 17px 27px 0 #afafaf;
}

#section #content #box5>div>img {
    position: relative;
    top: 39px;
}

#section #content #box5>div>p:nth-of-type(1) {
    font-size: 20px;
    color: #000000;
    position: relative;
    top: 78px;
    text-align: center;
}

#section #content #box5>div>p:nth-of-type(2) {
    font-size: 15px;
    position: relative;
    top: 105px;
    line-height: 24px;
    text-align: center;
}

#section #content #box5>div>div {
    display: flex;
    position: relative;
    top: 125px;
    flex-direction: row;
    align-items: center;
}

#section #content #box6>div>div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section #content #box6>div #shadow {
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 3px 9px 7px #dbdce7;
}

#section #content #box6>div>p {
    position: relative;
    top: 20px;
    text-align: center;
    color: #7e8083;
}

#section #content #box6>div #black {
    color: #000000;
}

#section #content #box7>div:first-child>p:first-child {
    font-size: 35px;
    font-weight: bold;
}

#section #content #box7>div:first-child>p:nth-child(2) {
    font-size: 14px;
    color: #7b7b7b;
    width: 484px;
    position: relative;
    top: 40px;
}

#section #content #box7>div:first-child>p:last-child {
    font-size: 13px;
    color: #083cc2;
    position: relative;
    top: 70px;
}

#section #content #box8>div>p {
    color: #FFFFFF;
    font-size: 13px;
    align-self: center;
}

#section #content #box5>div>div>p {
    color: #083cc2;
    font-size: 13px;
}

#section #content #box6>div>div>img {
    width: 41px;
    height: 41px;
}

footer>#box9 {
    width: 1176px;
    height: 413px;
    display: flex;
    flex-direction: row;
}

footer>hr {
    position: relative;
    width: 1898px;
    top: 88px;
}

footer>p {
    position: relative;
    top: 134px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

footer>#box9>div:nth-of-type(1) {
    width: 372px;
    height: auto;
}



footer>#box9>div:nth-of-type(2) {
    width: 221px;
    height: auto;
    position: relative;
    top: 88px;
}

footer>#box9>div:nth-child(3) {
    width: 181px;
    height: auto;
    position: relative;
    top: 88px;
}

footer>#box9>div:nth-child(4) {
    width: 231px;
    height: auto;
    position: relative;
    top: 88px;
}

footer>#box9>div:nth-child(5) {
    width: 171px;
    height: auto;
    position: relative;
    top: 88px;
}

footer>#box9>div:nth-of-type(1)>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 372px;
}

footer>#box9>div:nth-of-type(1)>p {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 24px;
}

footer>#box9>div:nth-of-type(1)>div:nth-of-type(1) {
    position: relative;
    top: 88px;
}

footer>#box9>div:nth-of-type(1)>p {
    position: relative;
    top: 125px;
}

footer>#box9>div:nth-of-type(1)>div:nth-of-type(2) {
    position: relative;
    top: 149px;
    flex-direction: row;
}

footer>#box9>div:nth-of-type(1)>div:nth-of-type(3) {
    position: relative;
    top: 179px;
    width: 187px;
    display: flex;
    justify-content: space-between;
}


footer>#box9>div:nth-of-type(2)>p:first-child {
    font-size: 35px;
    color: #70abee;
}

footer>#box9>div:nth-child(2)>p:last-child {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 31px;
    position: relative;
    top: 10px;
}

footer>#box9>div:nth-child(3)>p:first-child {
    font-size: 35px;
    color: #70abee;
}

footer>#box9>div:nth-child(3)>p:last-child {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 31px;
    position: relative;
    top: 10px;
}

footer>#box9>div:nth-child(4)>p:first-child {
    font-size: 35px;
    color: #70abee;
}

footer>#box9>div:nth-child(4)>p:last-child {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 31px;
    position: relative;
    top: 10px;
}

footer>#box9>div:nth-child(5)>p:first-child {
    font-size: 35px;
    color: #70abee;
}

footer>#box9>div:nth-child(5)>p:last-child {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 31px;
    position: relative;
    top: 10px;
}

footer>#box9>div:nth-of-type(1)>div:nth-of-type(1)>p {
    color: #70abee;
    position: relative;
    left: 5px;
    font-size: 35px;
}

footer>#box9>div:nth-of-type(1)>div:nth-of-type(2)>p {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 24px;
    position: relative;
}

footer>#box9>div:nth-of-type(1)>div:nth-of-type(2)>img {
    position: relative;
    top: 1px;
    left: 8px;
}